body {
    padding: 0;
    margin: 20px;
    background: #1F2931;
    font-family: "Platypi", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    width: 100%;
    max-width: 1900px;
    height: 180px;
    position: relative;
    margin: 5px auto;
}


.imgCss{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* .container img {
    width: 1863px;
    height: 180px; 
} */

.titlu {
    
    position: absolute;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font{ 
    font-family: "Playfair Display", serif;

}
.test{
    font-family: "Lato", sans-serif;
}
.link {
    position: relative;
    
}
.link1{
    position: absolute;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    text-decoration: none;
}

.tableContent{
    max-width: 1863px;
}

.divAlignment{
    display: flex;
    justify-content: center;
    align-items: center;
}